<% @questions.each do |question| %>
  <h2>
    Question: <%= link_to(question.content, question) %>
  </h2>
  <h3>
    Topic: <%= question.topic %>
  </h3>
<% end %>
<%= link_to "New question", new_question_path %>
